<BannerBottom />
<div class="footer-custom">
    <div class="footer-custom-left-side">
    </div>
    <div class="footer-custom-center">
        <h6 class="text-center"><b><i>Be good to your pets!</i></b></h6>
    </div>



    <div class="footer-custom-right-side">

        @* <i class="bi-mortarboard footer-icon-right-side"></i> *@

        @* <div class="footer-icon-right-side">
            <NavLink class="nav-link" href="/">
                <i class="bi-mortarboard " style="font-size: 1.0rem;"></i>
            </NavLink>
        </div> *@
    </div>

</div>

@code {

}
